/* General */
* {
    padding: 0;
    margin: 0;
}

/* Items */
 .item img {
     align-self: center;
 }

 .item {
     padding: 5px;
     margin: 25px 20px 25px 0;
 }

 /* Inputs */
 .amount {
     width: 40px;
     height: 30px;
     padding: 2px;
     margin: 0 2px;
     text-align: center;
 }

input.btn-primary {
     padding: 2px;
     width: 30px;
     height: 30px;
     margin: 0 2px;
 }

 .inputs {
     display: flex;
    justify-content:center ;
    align-items: center;
 }

 .fa-heart:hover {
     cursor: pointer;
     transform:scale(0.85);
     transition: transform ease-in-out;
 }

 .del:hover {
     color: red;
     cursor: pointer;
 }